html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} body{line-height:1;} ol,ul{list-style:none;} blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} table{border-collapse:collapse;	border-spacing:0;}

body {
    font: 12px Arial;
}

.spacer {
    margin-bottom: 20px;
}

a { color: blue; }
a:hover { color: #444444; }

/**
 * Preamble
 */

#preamble {
    padding: 0 20px;
    border-bottom: 1px solid #cccccc;
}
#preamble:after { content:""; display:table; clear:both; }

#preamble h1 {
    float: left;
    width: 50%;
    padding: 20px 0;
}

#preamble ul {
    float: right;
    width: 50%;
    text-align: right;
}

#preamble ul li {
    display: inline-block;
    border-left: 1px solid #cccccc;
    padding: 20px;
}

#preamble ul li a {
    display: block;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
}

#preamble ul li a.github { background-image: url(github-off.png); }
#preamble ul li a:hover.github { background-image: url(github-on.png); }
#preamble ul li a.twitter { background-image: url(twitter-off.png); }
#preamble ul li a:hover.twitter { background-image: url(twitter-on.png); }
#preamble ul li a.linkedin { background-image: url(linkedin-off.png); }
#preamble ul li a:hover.linkedin { background-image: url(linkedin-on.png); }
#preamble ul li a.email { background-image: url(email-off.png); }
#preamble ul li a:hover.email { background-image: url(email-on.png); }

/**
 * Content
 */

#content {
    padding: 20px;
}

#content h1.title {
    display: none;
}

#content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#content h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

/**
 * Postamble
 */

#postamble {
    border-top: 1px solid #cccccc;
    padding: 20px;
}
